.wrapper {
    margin-top: calc(var(--header-height) + 21px);
    padding: 0 14px;
}

.productsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 20px;
}

.noItems {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 8rem;
    height: 50vh;
    width: 100%;
}

.noItems h2 {
    font-family: var(--font-poppins-regular);
    text-align: center;
    font-weight: 400;
    font-size: 2rem;
    margin-top: 0.5rem;
}