.wrapper {
    margin-top: calc(var(--header-height) + 21px);
    padding: 0 14px;
}

.productsSection {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    gap: 1.4rem;
    margin-top: 20px;
}