@font-face {
  font-family: "Mulish";
  src: url("../../public/fonts/Mulish/static/Mulish-Regular.ttf");
}

@font-face {
  font-family: "Esteban";
  src: url("../../public/fonts/Esteban/Esteban-Regular.ttf");
}

@font-face {
  font-family: "Palanquin Dark";
  src: url("../../public/fonts/Palanquin_Dark/PalanquinDark-Regular.ttf");
}

@font-face {
  font-family: "Ovo";
  src: url("../../public/fonts/Ovo/Ovo-Regular.ttf");
}

:root {
  --font-esteban: "Esteban";
  --font-palanquin-dark: "Palanquin Dark";
  --font-mulish: "Mulish";
  --font-ovo: "Ovo";

  --gray-color: #F7F7F7;
  --mid-gray-color: #828282;
  --dark-gray-color: #5E5E5E;

  --header-height: 104px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background: none;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-mulish);
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}