@font-face {
  font-family: "Roboto Regular";
  src: url("../../public/fonts/Roboto/Roboto-Regular.ttf");
}

@font-face {
  font-family: "Roboto Medium";
  src: url("../../public/fonts/Roboto/Roboto-Medium.ttf");
}

@font-face {
  font-family: "Roboto Bold";
  src: url("../../public/fonts/Roboto/Roboto-Bold.ttf");
}

@font-face {
  font-family: "Roboto Black";
  src: url("../../public/fonts/Roboto/Roboto-Black.ttf");
}

@font-face {
  font-family: "Poppins Regular";
  src: url("../../public/fonts/Poppins/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins Bold";
  src: url("../../public/fonts/Poppins/Poppins-Bold.ttf");
}

@font-face {
  font-family: "Poppins Medium";
  src: url("../../public/fonts/Poppins/Poppins-Medium.ttf");
}

:root {
  --font-roboto-regular: "Roboto Regular";
  --font-roboto-bold: "Roboto Bold";
  --font-roboto-medium: "Roboto Medium";
  --font-roboto-black: "Roboto Black";

  --font-poppins-regular: "Poppins Regular";
  --font-poppins-medium: "Poppins Medium";
  --font-poppins-bold: "Poppins Bold";

  --gray-color: #F7F7F7;
  --mid-gray-color: #828282;
  --dark-gray-color: #414141;

  --header-height: 70px;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  border: none;
  background: none;
}

html,
body {
  font-size: 10px;
  max-width: 100vw;
  overflow-x: hidden;
  font-family: var(--font-roboto-regular);
}

a {
  text-decoration: none;
  color: #000;
}

ul {
  list-style-type: none;
}