.main {
    margin-top: var(--header-height);
}

.imgWrapper {
    position: relative;
    width: 100%;
    height: 410px;
}

.details {
    padding: 0 14px;
}

.details h2, .details h2 > strong {
    font-style: normal;
    font-weight: 400;
    font-size: 1.8rem;
    line-height: 37px;
    color: #000000;
    margin-bottom: 7px;
    margin-top: 10px;
}

.details strong {
    font-size: 1.8rem;
    font-weight: 400;
    margin-top: 1rem;
}

.row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5.5px;
    margin: 21px 0
}

.freeShipping {
    font-family: var(--font-roboto-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 1.2rem;
    line-height: 27px;
    color: var(--dark-gray-color);
}

.descriptionWrapper {
    padding-top: 16px;
    margin-bottom: 36px;
}

.descriptionWrapper > p {
    font-family: var(--font-roboto-regular);
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 25px;
    color: var(--dark-gray-color);
}

