.wrapper {
}

.menus {
    width: 100%;
    padding-top: 20px;
    background-color: var(--gray-color);
}

.menus nav {
    display: flex;
    margin-left: 30px;
}

.menuButton {
    margin-right: 34px;
    padding-bottom: 12px;
    border-bottom: 1px solid black;
    padding-left: 8px;
    padding-right: 8px;
}

.itemsWrapper {
    padding: 28px 25px;
}

.itemsWrapper a {
    font-family: var(--font-ovo);
    font-size: 1.6rem;
    line-height: 46px;
    font-weight: 400;
    cursor: pointer;
    margin-right: 10px;
    display: inline-flex;
    align-items: center;
}

.arrowUp {
    margin-left: 10px;
}

.arrowDown {
    transform: rotate(180deg);
    margin-left: 10px;
}

.menuButton > button {
    color: var(--mid-gray-color);
    font-size: 14px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
}

.subitems {
}

.subitems a {
    font-family: var(--font-esteban);
    font-size: 1.2rem;
    line-height: 30px;
    cursor: pointer;
    color: var(--dark-gray-color);
}