.wrapper {
    position: relative;
    margin: 0 auto;
    overflow: hidden;
}

.slider {
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease-in-out;
}

.dotsWrapper {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    gap: 10px;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #fff;
    cursor: pointer;
}

.dotFill {
    background-color: #000;
}