.wrapper {
    position: relative;
    height: 193px;
    width: 291px;
    overflow: hidden;
}

.slider {
    height: 100%;
    display: flex;
    flex-direction: row;
    transition: transform 0.3s ease;
    background-color: #000;
}

.slider > li {
    position: relative;
    width: 100%;
    height: 100%;
}

.dotsWrapper {
    position: absolute;
    bottom: 12px;
    right: 12px;
    display: flex;
    gap: 10px;
}

.dot {
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
    background-color: #fff;
    cursor: pointer;
}

.dotFill {
    background-color: #000;
}